@import "../../global.scss";

.skills {
    background-color: $secondaryColor;
    
    
    h1 {
        margin: 0 auto;
        color: $mainColor;
        text-align: center;
        padding: 5vh 7vh;
        font-size: 60px;
        border-radius: 2%;
    }

    .skillIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 1 auto;
        max-width: 130vh;
        margin-left: auto;
        margin-right: auto;
        overflow:hidden;

        .item {
            padding: 70px 50px 40px 50px;
            width: 120px;
            height: 120px;
            overflow:hidden;
            flex-wrap: wrap;
            
            img {
                width: 100%;
                height: auto;
            }
        }

        .jsIcon {
           width: 140px; 
        }
    }
}