@import "../../global.scss";


@media only screen and (max-width: 600px) {
    .background {
        flex-direction: column !important;
        height: fit-content !important;

        .leftContact {
            h3 {
                margin-top: 3% !important;
            }
        }
        
    }
}

.contact {
    background-color: $secondaryColor;
    color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
        width: 70%;
        height: 50%;
        background-color: $fourthColor;
        display: flex;
        flex-direction: row;
        padding: 10vh;
        border-radius: 50px;

        .leftContact {
            flex: 50%;

            h3 {
                margin-top: 18%;
                color: inherit;
                margin-left: 16%;
                font-size: 25px;
            }

            h1 {
                color: inherit;
                justify-content: center;
                margin-left: 15%;
                font-size: 60px;
            }
        }

        .rightContact {
            flex: 50%;

            .contactForm {
                display: flex;
                flex-direction: column;
                
                input {
                    margin-top: 12px;
                    font-size: 20px;
                    border-radius: 3px;
                }

                textarea {
                    margin-top: 12px;
                    font-size: 20px;
                    border-radius: 3px;
                    height: 150px;
                }
            }
        }
    }
}