@import "../../global.scss";

@media only screen and (max-width: 600px) {
    .aboutMe {
        .contentWrapper {

            .background {
                width: 94% !important;
                margin: 0 0 !important;
                margin-left: 3% !important;
                top: 50;
                background-color: $thirdColor !important;

            }

            .content {
                width: 80% !important;
                display: relative;
                top: 0% !important;
                box-shadow: none !important;
                height: fit-content !important;
                padding: 2% !important;

                h1 {
                    font-size: 40px !important;
                }
                
                p {
                    font-size: 18px !important;
                }
            }
        }
    } 
}

@media only screen and (max-height: 400px) {
    .content {
        height: fit-content !important;
        width: 85% !important;
        display: relative;
        top: -110% !important;
        box-shadow: none !important;

        h1 {
            font-size: 35px !important;
        }

        p {
            font-size: 18px !important;
        }
    }
}

.aboutMe {
    background-color: $secondaryColor;
    display: flex;
    color: $mainColor;
    height: 100vh;

    .background {
        width: calc((100% / 2) - 3vh);
        height: 97%;
        margin-bottom: 3vh;
        margin-left: 3vh;
        margin-right: 0;
        background-color: $thirdColor;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 10%;
        position: relative;
        left:100;

    }

    .contentWrapper {
        position: relative;
        width: 100%;
        overflow: hidden;

        .content {
            width: 60%;
            height: 50%;
            position: relative;
            top: -90%;
            background-color: $fourthColor;
            border-radius: 24px;
            justify-content: center;
            margin: 15vh auto;
            z-index: 2;
            box-shadow: -5px 7px 1px 4px $secondaryColor; 

            h1 {
                color: $mainColor;
                padding: 2%;
                text-align: center;
                font-size: 60px;
            }  

            p {
                text-align: center;
                color: $mainColor;
                font-size: 20px;
                padding: 1% 7%;
            }

            h2 {
                text-align: center;
                color: $mainColor;
                font-size: 40px;
                padding: 1.7%

            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    color: $mainColor;
                }
            }
        }
    }
}
